{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
<div class="container">

  <div class="row">
    {% if search_location %}
    <h2>Found {{ search_location|length }} of searched term for {{message}}</h2>
    {% else %}
    <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if search_location %}

    
    
    <div class="container">
      <div class="d-flex">
        <div style="display: flex; flex-wrap: wrap; flex-direction: row; width: 100%;" class="row">
          <div class="col-6">
            <div class="card border-secondary">
                {% for image in search_location%}
              <h1 class="text-center">{{image.name}}</h1>
              <img src="{{image.image.url}}" data-toggle="modal" data-target="#{{image.id}}" alt="" class="img-fluid"
                id="eachimage" width="500" height="300">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content modalcard">
          <div class="modal-header">
            <h5 class="modal-title" id="imagetitle">{{image.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img style="width: 80%; height: 300px;" src="{{image.image.url}}" alt="the image">
            <p class="text-center"> {{image.description}}</p>
            <p class="text-center">Location: {{image.location}}</p>
            <p class="text-center">Category: {{image.category}}</p>
          </div>
          <div class="modal-footer">
            <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}.url">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success " onclick="copyLink('{{image.id}}.url')">copy</button>
          </div>
          {%block script%}
          <script>
            copyLink = (element) => {
              document.getElementById(element).select();
              document.execCommand("copy");
            }
          </script>
          {%endblock%}
        </div>
      </div>
    </div>
    {% endfor %}


    {%else%}
    <p>No image</p>

    {%endif%}
   
  </div>
</div>
{% endblock %}